{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<style>
p {font-size:20px; text-align:justify; line-height:35px}
</style>

    <h3>
        ETAPA 2- Manejo participativo

    </h3>
<p>Instrucciones</p>
    <p>
        <b>Parte 1</b> </p>
        <ul>
             <li>El grupo tiene la oportunidad de conversar con un funcionario de la RNSF; el mismo que  expone y explica sobre la importancia de realizar la conservación y manejo sostenible de los recursos pesqueros, de manera no coercitiva.

            <li>El funcionario de la RNSF trata de convencer a los jugadores para que cada uno extraiga 1 unidad del recurso pesquero.
</li>
                     <li>Para la primera ronda la conversación es por 5 minutos (Ver video 1).</li>


                 <li>Para las siguientes rondas la conversación es por 2 minutos entre ronda y ronda (Ver video 2).


             </li>

            </ul>
        <ul> <p>
        <b>Parte 2</b> </p>
            <li>Terminada la conversación con el funcionario de la RNSF, se produce la conversación entre jugadores del grupo.
<ul><li>Usted podrá discutir lo que desee del juego y las reglas</li>
<li>También puede discutir formas o estrategias de mejorar las ganancias.
</li>
<li>No esta permitido realizar ninguna promesa o amenaza relacionada con los pagos o puntos durante o después del juego.
</li></ul>
            </li>
            <li>Para la primera ronda la conversación es por 3 minutos.</li>
            <li>Para las siguientes rondas la  conversación es por 2 minutos entre ronda y ronda.</li>
        </ul>

        <ul><p>
        <b>Parte 3</b> </p>
        <li>Terminada la conversación entre los jugadores del grupo, cada jugador toma su decisión de manera privada y confidencial.
</li>


        </ul>

            <p>


    </div>

</div>

  {% next_button %}

{% endblock %}
