{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
<style>
p {font-size:20px; text-align:justify; line-height:35px}
</style>

    <h3>
        ETAPA 2- Comunicación -
Instrucciones
    </h3>
        <p>Comprende de la ronda 11 a 20
</p>
       <ul>

             <li>
                 Bajo esta regla hay la posibilidad de conversar entre jugadores del grupo.

                 <ul>
                     <li>Usted podrá discutir lo que desee del juego y las reglas.</li>
                     <li>También puede discutir formas o estrategias de mejorar las ganancias.</li>
                     <li>No esta permitido realizar ninguna promesa o amenaza relacionada con los pagos o puntos durante o después del juego.</li>
                 </ul>

             </li>
                <li>En la primera ronda la conversación es por 3 minutos.</li>
            <li>Para las siguientes rondas la conversación es por 2 minutos entre ronda y ronda.</li>
            <li>Cada jugador puede extraer entre 1 (mínimo) a 10 (máximo) unidades del recurso pesquero.</li>
            <li>Terminada la conversación entre los jugadores del grupo, cada jugador toma su decisión de manera privada y confidencial.</li>


            </ul>


</p>
    </div>

</div>

  {% next_button %}

{% endblock %}
