{% extends "global/Page.html" %}
{% load otree static %}
{% block content %}
<div class="card bg-light m-3">
    <div class="card-body">
    <h3>
        Instrucciones del experimento "Proyecto comunitario" Ronda {{player.round_number}}
    </h3>

    <p>
        En este estudio, formará un grupo junto a otro participante asignado al azar.
        Cada uno recibirá  {{ Constants.endowment }} (un sol con cincuenta céntimos),
        los cuales serán usados en el experimento. Su grupo tiene la oportunidad de emprender un
        proyecto conjunto. Cada participante en el grupo decide cuánto va a contribuir al proyecto.
        La contribución puede ser cualquier monto desde 0 céntimos hasta {{ Constants.endowment }} (un sol con
        cincuenta céntimos).
<p>
        Las ganancias del proyecto se calculan de la siguiente manera:
</p>
        <ul>
  <li>   Las contribuciones de los {{ Constants.players_per_group }} participantes se suman con lo cual se obtiene la contribución total
      .</li>
  <li>  La contribución total se multiplica por {{ Constants.multiplier }} y la cantidad resultante es la ganancia total del proyecto.
      </li>
        <li> La ganancia total del proyecto es dividido en partes iguales entre los {{ Constants.players_per_group }} participantes. </li>
            <li> Su ganancia individual del proyecto es igual a la mitad de la ganancia total del proyecto.  </li>

        <li> Su ganancia total es igual a su ganancia individual del proyecto más la cantidad que no contribuyó. </li>

</ul>
    </p>
        <p>
            Recuerde que el experimento de Proyecto Comunitario consta de 4 rondas con las mismas instrucciones y se
            elegirá una ronda al azar para su pago.
            </p>

    </div>

</div>

  {% next_button %}

{% endblock %}
